
*.json
GAT315-Physics-Unity/.vsconfig
.vs/UnityGamePhysics/v17/.wsuo
*.vsidx
*.asset
*.settings
*.dwlt
*.png
*.asmdef
*.meta
*.cs
*.md
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/.Resources/.collabattributes
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/.gitattributes
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/.signature
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Documentation~/images/IncomingChanges.gif
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Documentation~/images/plasticHub.gif
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Documentation~/images/ProjectView.gif
*.uxml
*.uss
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/.Resources/.collabignore
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/FileSystemWatcherLicense.txt
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/liblz4Plastic.dylib
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/Localization/basecommands.en.txt
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/Localization/basecommands.es.txt
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/Localization/basecommands.ja.txt
GAT315-Physics-Unity/Library/PackageCache/com.unity.collab-proxy@2.3.1/Lib/Editor/PlasticSCM/Localization/basecommands.ko.txt
*.txt
*.ModuleCompilationTrigger
*.prefab
*.mat
*.pdf
GAT315-Physics-Unity/Library/PackageCache/com.unity.timeline@1.8.6/Editor/Localization/ja.po
GAT315-Physics-Unity/Library/PackageCache/com.unity.timeline@1.8.6/Documentation~/filter.yml
GAT315-Physics-Unity/Library/PackageCache/com.unity.timeline@1.8.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx
GAT315-Physics-Unity/Library/PackageCache/com.unity.timeline@1.8.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx
*.unity
GAT315-Physics-Unity/Temp/workerlic
GAT315-Physics-Unity/Temp/UnityLockfile
GAT315-Physics-Unity/Temp/FSTimeGet-c688eec0478da524fb7aa9d9fdadc49d
GAT315-Physics-Unity/Temp/FSTimeGet-8e112baaa89d9964ab99d59a3db3f1bc
GAT315-Physics-Unity/Temp/FSTimeGet-07ada888cd487b14085a1858816530cd
GAT315-Physics-Unity/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
GAT315-Physics-Unity/Logs/shadercompiler-AssetImportWorker1-0.log
GAT315-Physics-Unity/Logs/shadercompiler-AssetImportWorker0-0.log
*.log
*.catalog
GAT315-Physics-Unity/Library/SourceAssetDB-lock
*.db
*.st
*.pdb
*.dll
*.md5
*.yml
*.exe
GAT315-Physics-Unity/Library/PackageCache/com.unity.performance.profile-analyzer@1.2.2/.signature
GAT315-Physics-Unity/Library/PackageCache/com.unity.ide.visualstudio@2.0.22/Editor/Plugins/AppleEventIntegration.bundle/Contents/MacOS/AppleEventIntegration
*.gif
*.svg
GAT315-Physics-Unity/Library/PackageCache/com.unity.ide.visualstudio@2.0.22/Editor/Plugins/.gitattributes
*.tlh
*.h
*.cpp
*.mm
*.plist
GAT315-Physics-Unity/Library/PackageCache/com.unity.ide.visualstudio@2.0.22/Editor/Plugins/AppleEventIntegration.bundle/Contents/_CodeSignature/CodeResources
*.xcworkspacedata
*.FBX
*.TGA
/GAT315-Physics-Unity/Library/Artifacts
/GAT315-Physics-Unity/Library/Artifacts/00
/GAT315-Physics-Unity/.vs/GAT315-Physics-Unity/v17
*.hlsl
*.bin
*.cache
*.pref
*.cache
*.traceevents
*.traceevents
*.rsp
/GAT315-Physics-Unity/Library/Bee
*.bhc
/GAT315-Physics-Unity/Library/PackageCache
*.cache
/GAT315-Physics-Unity/Library/BurstCache
